.nav-bg {
  background-color: #f39c12;
}
.box--bg {
  background-color: #f0f0f0;
  border-top: 1px solid #f39c12;
  border-bottom: 10px solid #e2e2e2;
  border-radius: 0 0 15px 15px;
}
.fas {
  color: #f39c12;
}
footer {
  background-color: #270b00;
  height: 25vh;
}
